* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    }
      
    .container1{
       
        border-radius: 6px;
        display: flex;
        flex-direction: column;
        background-color: rgb(20, 198, 20);
        width: 400px;
        height: 700px;
        margin: 100px;
        color: white;
        align-items: center;
        border: solid;
        border-color: gold 10px;
    }

    .imagen {
        width: 350px;
        
    }

    .cabecera__aside{
        text-align: center;
    }
    
    .cabecera__aside img{
        width: 350px;
        margin-top: 20px;
    }
    
    .contenido__aside{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .contenido__aside input{
        font-size: 30px;
        border-radius: 4px;
        width: 300px;
        margin-top: 10px;
        margin-bottom: 10px;
        align-items: center;
    }
    .contenido__aside h1{
        text-align: left;
        margin-bottom: 10px;
    }
    .tittle {
        color: wheat;
        font-size: 25px;
    }
    
    .contenido__aside button{
        background-color: rgb(255, 251, 0);
        font-size: 24px;
        font-weight: 600;
        color: rgb(5, 69, 55);
        padding: 6px;
        border-radius: 6px;
        margin-bottom: 20px;
        border: solid;
        border-color: darkgreen;
        box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
        cursor:pointer; cursor: hand;
        width: 350px;
        

    }
    .alert {
        color: rgb(255, 238, 0);
        font-weight: 700;
    }
  
  
    
    .contenedor__main{
            display: inline-block;
            margin-left: 20px;
            padding: 1rem;
            margin-bottom: 500px;
            border-radius: 10px;
           
    }
    
    #color {
        display: flex;
    }
    
    #circulo {
        border: 3px solid black;
        border-radius: 50%;
        width: 50px;
        height: 50px;
    }